.header {
  height: 85vh;  /*at every point the height of this element, should be 95% of the viewport height extra support for browsers below */
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero-small.jpg);
  background-size: cover; /* whatever the width of the element always will try to fit it inside the element*/
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
  clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%); /* to change the shape of the header with diagnal clipped off*/

  @supports (clip-path: polygon(0 0)) or(-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
    clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%); /* to change the shape of the header with diagnal clipped off*/
    height: 95vh;
  }
  //Lecture 63 - responsive images in css & 64 - Browser support
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);

  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0,100% 0,100% 85vh, 0 100%);
    clip-path: polygon(0 0,100% 0,100% 85vh, 0 100%); /* to change the shape of the header with diagnal clipped off*/
  }
  &__logo-box {
    position: absolute;
  top: 4rem;
  left: 4rem;

  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); /* in order to get it exactly in the middle, will be shifted half of the elements width and height */
  }
}

